body {
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.white-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 850px;
    background-color: white;
    border-radius: 30px;
}

img {
    border-radius: 20px;
    width: 500px;
    height: 500px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
}

.text {
    width: 95%;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
}

.attribution {
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
    }
    
    .white-container {
        width: 85%;
        height: 35vh;
        background-color: white;
        border-radius: 30px;
        
    }
    
    .text {
        width: 90%;
    }
    img {
        border-radius: 20px;
        width: 85%;
        height: 60%;
    }
    
    h2 {
        font-size: 25px;
    }
    
    p {
        font-size: 18px;
    }
    
    .attribution {
        font-size: 12px;
    }
}
    